:root {
  --font-style: "Nanum Myeongjo", serif;
  --select-month-font-size: 2rem;

  --max-width-select-month: 1024px;
  --max-width-container-calendar: 1340px;

  /* color */
  --color-days-background: powderblue;
  --color-empty-date-background: #dddddd;
  --color-different-date-background: #f7f7f7;
  --color-prevnext-month-button-background: #eeeeee;
  --color-todo-save-btn-backgroun: powderblue;
  --color-sunday: #ff5d5d;
  --color-saturday: #5d60ff;
  --color-weekday: #333333;
  --color-white: #ffffff;

  /* size */
  --modal-height-size: calc(100% - 400px);
  --modal-content-height-size: calc(100% - 130px);
}
